body {
    text-align: center;
}

h1 {
    font-size: 60px;
    color: red;
    font-family: 'Zen Tokyo Zoo', cursive;
}

#ChatBot {
    background-image: linear-gradient(red,yellow,blue);
}

img:hover {
    transform: scale(0.9);
    
}
img {
    transition: transform .2s;
    border-radius: 20px;
}

#Games {
    background-image: linear-gradient(blue,yellow,red);
    height: 500px;
    padding-top: 210px;
}

#Apps {
    background-image: linear-gradient(yellow,red,blue);
}